.btn {
    width: 100px;
}

.listRapper {
    margin: 20px;
    display: inline-block;
    padding: 10%;
    height: 400px;
}

.displayRapper {
    margin: 0px;
    display: inline-block;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

#container {
    display: inline;
}