<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="app.css">
    <link rel="stylesheet" type="text/css" href="directives.css">
</head>
<body ng-app="myApp">
<div id="container" ng-controller="MainController" class="ng-cloak">
    <span class="listRapper">
            <div ng-controller="ListController"> {{title}}
                <div>
                    <input ng-model="contactsService.filter"/>
                </div>
                <div>
                    <button class="btn" ui-sref="addContact">Add a new contact</button>
                </div>
                <div ng-repeat="contact in contactsService.contacts | filter:contactsService.filter | filter: {isDeleted: false} | orderBy:'name'">
                   <button class="btn" ui-sref="contact({userId:contact.id})" ng-style={"background":contact.selected?"red":"white"}> {{contact.name}} </button>
               </div>
            </div>
    </span>
    <span class="displayRapper">
            <div ui-view></div>
    </span>
</div>

<script src="angular/angular.js"></script>
<script src="angular-ui-router.js"></script>
<script src="app.js"></script>
<script src="directives.js"></script>
</body>
</html>