<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body ng-app="myApp">
<div id="container" ng-controller="MainController">
    <span class="listRapper">
            <div ng-controller="ListController"> {{title}}
                <br>
                <br>
                <div ng-repeat="item in items">
                   <button class="btn" ng-click="selectItem(item)" ng-style={"background":item.selected?"red":"white"}> {{item.name}} </button>
               </div>
            </div>
    </span>
    <span class="displayRapper">
            <div ng-controller="DescController">
                {{myService.cMsg.desc}}
                <br>
                <img ng-src={{myService.cMsg.pic}}>
            </div>
    </span>
</div>

<script src="angular/angular.js"></script>
<script src="app.js"></script>
</body>
</html>